.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 100px 2fr 100px;
  place-items: center;
}

.headerContainer {
  grid-column-start: 2;
  grid-row-start: 1;
  color: green;
}

.userInputForm {
  grid-column-start: 2;
  grid-row-start: 3;
  width: 100%;
}

.loadingMsg {
  grid-column-start: 2;
  grid-row-start: 2;
}

.errorMsg {
  grid-column-start: 2;
  grid-row-start: 2;
}

.userInputForm input {
  height: 30px;
  width: 60%;
  margin-right: 5%;
}

.userInputForm button {
  height: 30px;
  width: 25%;
}

.userInfoContainer {
  grid-column-start: 2;
  grid-row-start: 2;
  place-self: stretch;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  justify-items: center;
  align-items: start;
}

.userInfoContainer h2 {
  margin-top: 0;
}

.userProfile {
  grid-column-start: 1;
}
.userAvatar {
  height: 200px;
  width: 200px;
}

.orgsContainer {
  grid-column-start: 2;
}

.reposContainer {
  grid-column-start: 3;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
